<div id="html">
    <div id="body">
        <div class="letter">
            <section id="save">
                <section class="sheet">
                    <aside>
                        <section class="contact">
                            <h6>Contact</h6>
                            <ul>
                                <li>
                                    <p><i class="fa fa-map-marker-alt" title="Location"></i>Biyem-Assi</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-phone" title="Cell phone"></i> <a href="tel:4153234000">+237698493462</a></p>
                                </li>
                                <li>
                                    <p><i class="fa fa-envelope" title="Email"></i> <a href="mailto:joe@joesmith.site">duvalodilon2002@gmail.com</a></p>
                                </li>
                                <li>
                                   
                                <li>
                                    <p><i class="fab fa-github" title="GitHub"></i> <a href="https://github.com/Tombarr">github.Duval900</a></p>
                                </li>
                            </ul>
                        </section>
                        <section class="skills">
                            <h6>Skills</h6>
                            <ul>
                                <li><span>java Programming</span></li>
                                <li><span>Mobile Development</span></li>
                                <li><span>maintainance</span></li>
                                <li><span>web development</span></li>
                                <li><span>web design</span></li>
                            </ul>
                        </section>
                        <section class="skills">
                            <h6>Technologies</h6>
                            <ul>
                                <li><span>JavaScript</span></li>
                                <li><span>PHP</span></li>
                                <li><span>HTML5</span></li>
                                <li><span>CSS</span></li> 
                                <li><span>Bootstrap</span></li>
                                <li><span>React</span></li>
                            </ul>
                        </section>
                        <section class="references">
                            <h6>References</h6>
                            <address>
                                odilonduval2002@gmail.com<br />
                                698493462<br />
                                duvalodulon        
                                
                            </address>
                           
                           
                        </section>
                    </aside>
                    <section>
                        <header class="name" aria-label="TSAPZEU DUVAL">
                            <a href="">
                                <svg width="257px" height="35px" viewBox="0 0 257 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="Montserrat-Regular, Montserrat" font-size="48" font-weight="normal">
                                        <g id="Letter" transform="translate(-54.000000, -140.000000)" fill="#484848">
                                            <text id="JOE-SMITH">
                                                <tspan x="54.728" y="174">TSAPZEU </tspan>
                                            </text>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                            <h6>Beginer in web programming</h6>
                            <hr />
                        </header>
                        <section>
                            <section class="summary">
                                <h6>Summary</h6>
                                <p>purcase my studies in the University of Yaounde .
                                    aims at giving appropriate solutions that exceed client expectations.</p>
                            </section>
                            <section class="experience">
                                <h6>Experience</h6>
                                <ol>
                                    <li>
                                        <header>
                                            <p class="sanserif">Beginer in web development and software engineering</p>
                                            <time>2020 – Present</time>
                                        </header>
                                        <span>Google</span>
                                        <ul>
                                            <li>With a group we developped a chat APP</li>
                                            <li>Created Database for a project similar as google calender</li>
                                            <li>provided useful informations for the devoloppement of an App</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <header>
                                            <p class="sanserif">Software Engineer</p>
                                            <time>2020 – 2022</time>
                                        </header>
                                        <span></span>
                                        <ul>
                                            <li>can develop some small programs in c language</li>
                                            <li>can write a java program</li>
                                            
                                        </ul>
                                    </li>
                                    <li>
                                        <header>
                                            <p class="sanserif">Different languages supported</p>
                                            <time></time>
                                        </header>
                                        <span></span>
                                        <ul>
                                            <li>English</li>
                                            <li>French</li>
                                            <li>Spanish 20%</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <header>
                                            <p class="sanserif">Different Diplome</p>
                                            <time>2017– 2020</time>
                                        </header>
                                        <ul>
                                            <li>2019-2020 General Certificate of Education(GCE) ALEVEL,GBHS Mendong</li>
                                            <li>2017-2018 Generale Certificate of Education(GCE) OLEVEL,EHS Yaounde</li>
                                            
                                        </ul>
                                    </li>
                                </ol>
                            </section>
                            <section class="education">
                                <h6>Education</h6>
                                <ol>
                                    <li>
                                        <div>
                                            <p class="sanserif">E.H.S, English high school Yaounde</p>
                                            <time>Sept '2012 – June '2020</time>
                                        </div>
                                        <div>
                                            <span>G.B.H.S Mendong</span>
                                            <span></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <p class="sanserif">University of Yaounde 1</p>
                                            <time>OCT 2020 – </time>
                                        </div>
                                        <div>
                                            <span>University of Yaounde 1</span>
                                            <span></span>
                                        </div>
                                    </li>
                                </ol>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <!-- Script to make elements authorable and save changes to localStorage -->
            <script type="text/javascript" src="assets/professional-cv/index.js"></script>
        </div>
    </div>
</div>

<div class="mb-3 container d-flex flex-row-reverse">
    <button class="btn btn-secondary" (click)="printPage()">Print Resume</button>
</div>
