<div class="container pt-5">
    <h3 class="title">Choose a template to make your resume</h3>

    <div class="d-flex mt-3" (click)="navigate()">
        <div class="m-1">
            <div class="card" style="width: 18rem;">
                <img src="assets/C.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Proffessional cv</h5>
                  <p class="card-text">Enter your basics informations here and your skills inorder to make a better CV .</p>
                </div>
              </div>
        </div>
        <div class="m-1">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="m-1">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
      
</div>
